BasedOnStyle: Google
IndentWidth: 4
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: Align
BreakBeforeBinaryOperators: All
AlignConsecutiveAssignments: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ContinuationIndentWidth: 4
ColumnLimit: 65
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeInheritanceComma: true
BreakAfterJavaFieldAnnotations: true
BreakStringLiterals: true